nav.pagination-block {
  display: flex;
  flex-direction: row;

}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

li.page-item {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  text-align: center;
}

li.page-item > a {
  margin: auto;
  position: relative;
  font-size: 17px;
}

li.page-item.active {
  background-color: #EE6723;
}

li.page-item.active > a {
  color: #ffffff;
}
